*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

/* estilos para el header */
.logo img{
  width:135px ;
  height:45px ;
  margin : 20px 0 20px 0;
}

.enlaces {
  border-bottom: 1px solid rgb(235, 203, 155);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color:rgb(224, 170, 0);
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid none;
  border-radius: 4px 4px 0 0;
}

.nav-tabs .active{
  border-radius: 4px 4px 0 0;
  border: 1px solid rgb(235, 203, 155);
  border-top-color: rgb(235, 203, 155);
  border-right-color: rgb(235, 203, 155);
  border-bottom-color: rgb(235, 203, 155);
  border-left-color: rgb(235, 203, 155);
}

.enlaces a{
  text-decoration: none;
  color: rgb(71, 70, 70);
  font-weight: bold;
  border-radius:5px;
}

.assets-pago{
  border-radius: 5px;
  margin-top: 1%;
  height: 7.5rem;
  
}

.monto,.codigo,.time{
  padding:5px 10px;
 /* height: 50px;*/
 height: 100%;
}

.monto{
  color:black;
  background-color: rgb(240, 236, 236);
  font-size: 12px;
  padding: 10px 0;
}

.monto p{
  margin: 5px 5px 0 5px;
  font-weight: 600;
  font-size: 18px;
}

.monto span{
  margin: 5px 0;
  font-size: 15px;
}

.codigo{
  background:rgb(224, 170, 0);
  color : white;
  /*font-size: 10px;*/
  padding: 10px 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.codigo p{
  margin: 2px 5px 0 5px;
  /*font-size: 10px;*/
}

.codigo span{
  font-size:20px;
  font-weight: 600;
  font-size: 25px;
  /*font-weight: bold;*/
}

.time{
  background: rgb(235, 203, 155);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.time img{
  width:30px ;
  height:30px ;
  margin: 0 3px 0 0 ;
}

.time .orden{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.time p{
  margin: 5px 0 0 0 ;
 font-size: 10px;
  padding: 0;
}

.time span{
  font-size: 11px;
}

/* estilos para el main */
main{
  color: rgb(71, 70, 70);
}

.image0{
  width: 10px ;
  height: 30px ;
  
}

.image1{
  width: 70px ;
  height: 25px ;
}

.image2{
  width: 100px ;
  height: 40px ;
}

.full-carga{
  height:50px;
  width: 20px;
}

.image3{
  width: 100px ;
  height: 40px ;
}

.paragraph{
  margin: 20px 0 20px 0;
  color: rgb(71, 70, 70);
}

#pay-method{
  height: 50px;
  margin: 10px 0 0 0;
}

#cont-datos{
  height: 100px;
}

.carousel.slide{
  outline: none;
  border:none;
}

.options-pay{
  list-style: none;
}

h4{
  color: rgb(224, 170, 0);
  font-weight: bold;
}

.paragraph2{
  color: rgb(71, 70, 70);
  text-align: justify;
  margin: 10px 0 0 0;
  color: rgb(71, 70, 70);
}

.options-pay li>span{
  color: rgb(224, 170, 0);
  padding: 5px ;
  /* margin: 0 0 20px 0; */
}

.options-pay li{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 20px 2px;
  font-size:12px;
}

.card-efectivo, .card{
  cursor: pointer;
}

.enlace{
  background:rgb(165, 40, 57);
  border-radius: 10px;
  padding:5px 0;
}

.enlace a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.enlace img{
  width:25px ;
  height:25px ;
  margin:0 5px;
}

/* estilos para el footer */
.download{
  margin: 20px 0 10px 0;
  text-align: center;
}

.download img{
  width:45px;
  height:45px;
  border: 1px solid rgb(224, 170, 0);
  border-radius:10px;
  padding: 5px 10px;
  margin:0 5px;
  cursor: pointer;
}

.mail{
  margin:3px 0 0 0;
}
.mail a{
  display: inline;
  padding-left: 2px;
  font-size: 14px;
}

.mail a{
  color: rgb(224, 170, 0);
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.image img{
  display:inline-block;
  margin: 0 0 0 2px;
  width: 62px;
  height: 30px;
}


@media (min-width:790px) { 
  .referencies{
    margin: 30px 0;
  }
  .download{
    margin: 0;
    float: left;
  }
  
  .mail{
    display:flex;
    align-content: center;
    justify-content: center;
  }

  .image{
    float: right;
  }
}

@media (min-width:968px){
  .monto{
    padding: 5px;
  }
  .monto span{
    font-size: 18px;
  }
  .codigo span{
    /* font-size:20px;*/
    font-weight: 600;
    font-size: 30px;
    /*font-weight: bold;*/
  }
  .monto p{
    margin: 5px 5px 0 5px;
    font-weight: 600;
    font-size: 25px;
  }

  .time p{
    margin: 5px 0 0 0 ;
   font-size: 15px;
    padding: 0;
  }
  
  .time span{
    font-size: 18px;
    text-align: center
  }

  .time img{
    width:40px ;
    height:40px ;
    margin: 0 3px 0 20px ;
  }

  .download{
    font-size: 15px;
    margin: 20px 0 0 0;
    text-align: start;
  }

  .download img{
    width:50px;
    height:50px;
  
  }

  .mail{
    margin: 30px 0 0 0;
    font-size: 15px;
  }
  .mail a{
    display: inline;
    padding-left: 2px;
    font-size: 15px;
  }

  .image{
    font-size: 15px;
  }

  .image img{
    display:inline-block;
    margin: 0 0 0 5px;
    width: 90px;
    height: 80px;
  }  
}


